@font-face {
  font-family: "AlegreyaSans Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Black.ttf");
}

@font-face {
  font-family: "AlegreyaSans Black";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-BlackItalic.ttf");
}

@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/AlegreyaSans-Bold.ttf");
}

@font-face {
  font-family: "AlegreyaSans";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/AlegreyaSans-BoldItalic.ttf");
}

@font-face {
  font-family: "AlegreyaSans Extrabold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/AlegreyaSans-ExtraBold.ttf");
}

@font-face {
  font-family: "AlegreyaSans Extrabold";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/AlegreyaSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "AlegreyaSans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Italic.ttf");
}

@font-face {
  font-family: "AlegreyaSans Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Light.ttf");
}

@font-face {
  font-family: "AlegreyaSans Light";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-LightItalic.ttf");
}


@font-face {
  font-family: "AlegreyaSans Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Medium.ttf");
}


@font-face {
  font-family: "AlegreyaSans Medium";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-MediumItalic.ttf");
}


@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Regular.ttf");
}


@font-face {
  font-family: "AlegreyaSans Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Thin.ttf");
}

@font-face {
  font-family: "AlegreyaSans Thin";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-ThinItalic.ttf");
}



