.benefits__bg {
  background: white;
}

.benefits {
  display: flex;
  margin-top: rem(80px);

  @include phones {
    flex-direction: column;
    margin-top: rem(40px);
  }

}

.benefit__title {
  font-weight: bold;
  margin-top: 2rem;
  @include tablets {
    margin-top: 0;
  }
}

.benefits__item{
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(19px);
  }

  &:before {
    content: url("../img/separator.png");
    position: absolute;
    top: rem(60px);
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    &:before {
      display: none;
    }
  }
}

.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  @include tablets {
    width: 6rem;
    height: 6rem;
  }
  @include phones {
    width: 5rem;
    height: 5rem;
  }
  @include small {
    width: 4rem;
    height: 4rem;
  }
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__image {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  @include phones {
    margin-bottom: 0;
    margin-right: rem(20px);
  }
}

.benefits-section {
  position: relative;
  background: url("../img/left_leaf.png") left top 10%  no-repeat;

  &:before {
    content: url("../img/bars-and-berries.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;
  }
}

.headline__subtitle {
  text-align: center;
}
