.features{
  display: flex;
}

.features__item {
  display: inline-flex;
  margin-right: rem(6px);
  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(45px);
  margin-right: rem(30px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}
