.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
  &--shadowed {
    .fixed-menu__link {
      &:before {
        background-color: black;
      }
    }

    .fixed-menu__item {
      &--active {
        .fixed-menu__link
        {
          border-color: black;
        }
      }

    }
  }
  @include tablets {
    display: none;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.fixed-menu__item {
  margin-bottom: rem(5px);

  &--active {
   .fixed-menu__link {
     border-color: #fff;
   }
  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu {
  margin: 0 rem(30px);
  padding-top: rem(5px);

  @include tablets {
    display: none;
  }
}

.phone-number {
  @include tablets {
    display: none;
  }
}

.menu__list {
  flex-wrap: wrap;
  justify-content: center;
}
