.header{
    width: 100% ;
    height: 300px;
    background-color: black;
    background-image: url('../img/team.jpg'); // !!! путь прописывается относително скомпилированного файла main.css который и подлкючается к странице
    background-repeat: no-repeat;
}