
.header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: rem(20px);
    padding-right: rem(20px);
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__link {
    text-decoration: none;
}

.menu__item {
    margin-right: rem(15px);
    margin-bottom: rem(10px);
    &:last-child {
        margin-right: 0;
    }
}

.phone-number
{
    font-size: rem(24px);
    text-decoration: none;
}

.phone-number--text--green {
  color: #365a49;
  font-size: rem(21px);
  text-transform: uppercase;
}

.phone-number__icon-elem {
   width: rem(12px);
   height: rem(12px);
  margin-right: rem(6px);
  display: inline-flex;

}

.phone-number__icon {
  flex-shrink: 0;
}
