.inc-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  min-width: rem(270px);
  padding-top: rem(30px);
  padding-bottom: rem(30px);
  background-color: #ffffff;
  left: 100%;
  opacity: 0.9;
}
.inc-menu__component {
  display: flex;
  flex-direction: row;
}

.inc-menu__image {
  max-width: rem(35px);
  max-height: rem(35px);
  margin-right: rem(24px);
  margin-left: rem(32px);
  margin-bottom: rem(14px);
  opacity: 1;
}

.inc-menu__text {
  color: #363636;
  font-size: rem(16px);
  font-weight: bold;
  line-height: rem(24px);
  opacity: 1;
}

.inc-menu__grammes {
  position: absolute;
  right: rem(20px);
  color: #373636;
  font-weight: 400;
  line-height: rem(24px);
}
