.inc-menu {
  display: none;
  flex-direction: column;
  width: rem(270px);
  height: rem(329px);
  background-color: #ffffff;
  position: absolute;
  right: rem(37px);
  top: 0;
  opacity: 0.9;
}
.inc-menu__component {
  display: flex;
  flex-direction: row;
}

.inc-menu__image {
  width: rem(35px);
  height: rem(35px);
  margin-right: rem(24px);
  margin-left: rem(32px);
  margin-bottom: rem(14px);
  opacity: 1;
}

.inc-menu__text {
  color: #363636;
  font-size: rem(16px);
  font-weight: bold;
  line-height: rem(24px);
  opacity: 1;
}
