.slider-section {
  background-color: #f8faf9;
  @include small {
    height: 150vh;
  }
}

.slider-section__all-slider
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.slider-arrow {
  @include tablets {
    margin-bottom: rem(376px);
  }
}

.slider-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tablets {
    flex-direction: column;
  }
}

.inc-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin-left: rem(67px);
  width: rem(90px);
  height: rem(90px);
  background-color: #60aacc;
  border-radius: rem(5px);
  cursor: pointer;
  @include tablets {
    display: none;
  }
}

.inc-panel__image {
  width: rem(51px);
  height: rem(51px);
  margin-top: rem(10px);
  filter: invert(1);
}

.inc-panel__text {
  color: white;

}

.slider-content__header {
  width: rem(450px);
  height: rem(72px);
  color: #000000;
  font-size: rem(36px);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: rem(37px);
  margin-bottom: rem(37px);
  padding-left: rem(67px);
  @include tablets {
    padding-left: 0;
    text-align: center;
    }
}

.slider-text {
  color: #666666;
  font-size: rem(18px);
  font-weight: 400;
  padding-left: rem(67px);
  margin-right: rem(30px);
  &--bold {
    font-weight: 700;
  }

  @include tablets {
    text-align: center;
  }
}

.slider-content__text {
  width: rem(400px);
  height: rem(60px);
  margin-top: rem(50px);
  margin-bottom: rem(50px);
  padding-left: rem(67px);

  @include tablets {
    text-align: center;
  }
}

.slider-content__weight-energy {
  display: flex;
  flex-direction: row;
  padding-top: rem(30px);
  @include tablets {
    justify-content: center;
  }
}

.slider-content__price-order {
  display: flex;
  flex-direction: row;
  margin-top: rem(30px);
  padding-left: rem(67px);
  @include tablets {
    padding-left: 0;
    text-align: center;
    justify-content: center;
  }
}

.slider-content__price {
  color: #151515;
  font-size: rem(60px);
  font-weight: 300;
  line-height: rem(60px);
  text-transform: uppercase;
  margin-right: rem(30px);
}

.main-slider-image__img {
  max-width: 75%;
}

.slider-content__main-image
{
  display: flex;
  justify-content: center;
}

