.slider-section {
  background-color: #f8faf9;
  @include small {
    height: 150vh;
  }
}

.slider-section__all-slider
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.slider-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tablets {
    flex-direction: column;
  }
}

.inc-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  vertical-align: middle;
  max-width: rem(90px);
  max-height: rem(90px);
  background-color: #60aacc;
  border-radius: rem(5px);
  cursor: pointer;
  margin-bottom: 2rem;
  @include tablets {
    display: none;
  }
}

.inc-panel__image {
  max-width: rem(51px);
  max-height: rem(51px);
  margin-top: rem(10px);
  filter: invert(1);
}

.inc-panel__text {
  color: white;

}

.slider-content__header {
  color: #000000;
  font-size: rem(36px);
  font-weight: 700;
  text-transform: uppercase;
  @include tablets {
    padding-left: 0;
    text-align: center;
    }
  @include small {
    font-size: 1rem;
  }
}


.slider-text {
  color: #666666;
  font-size: rem(18px);
  font-weight: 400;
  margin-right: rem(30px);
  &--bold {
    font-weight: 700;
  }

  @include tablets {
    text-align: center;
  }
}

.slider-content__text {
  @include tablets {
    text-align: center;
  }
}

.slider-content__weight-energy {
  display: flex;
  flex-direction: row;
  padding-top: rem(30px);
  @include tablets {
    justify-content: center;
  }
}

.slider-content__price-order {
  display: flex;
  flex-direction: row;
  margin-top: rem(30px);
  @include tablets {
    padding-left: 0;
    text-align: center;
    justify-content: center;
  }
}

.slider-content__price {
  color: #151515;
  font-size: rem(60px);
  font-weight: 300;
  line-height: rem(60px);
  text-transform: uppercase;
  margin-right: rem(30px);
  @include small {
    font-size: rem(30px);
  }
}

.main-slider-image__img {
  max-width: 75%;
}

.slider-content__main-image
{
  display: flex;
  justify-content: center;
}

.slick-slider
{
  max-width: $containerWidth - 40px;
  display: flex;
  width: 100%;
}

.slick-initialized .slick-slide
{
  display: flex;
}

.slider-arrow {
  cursor: pointer;
  min-width: 1rem;
}

.slider-content__inc-panel-container {
  display: flex;
  flex-direction: column;
}

.slider-content__text-block {
  margin-left: rem(67px);
  max-width: rem(380px);
}

.slider-section__img-left-arrow {
  margin-left: 1rem;
}

.slider-section__right-arrow {
  margin-right: 1rem;
}
