.socials__list {
  display: flex;
  flex-direction: row;
}

.socials__image {
  max-width: rem(20px);
  max-height: rem(20px);
  margin-right: rem(20px);
  fill: #B3B3B3;
  &:hover {
    fill: black;
  }
}

.socials {
  display: flex;
  align-items: center;
}
